/* 
    ROOT 
*/
:root {
    --font-main: 'Inter', Roboto;

    --bg-color: #f3f1f1;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}
body {
    font-family: 'Roboto', sans-serif;
}
body { font-size: 16px; line-height: 1.5; }
header h1 { font-size: 2rem; line-height: 1; }

/* 
    ===================================================== CONTENT =======================================================
*/

/* -- Header -- */

header {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 16px;
    z-index: 1000;
    
    background-color: transparent;

    transition: color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

header.scrolled {
    position: fixed;
    background-color: #e7e4e4;
    color: black;
}

.header-text h1{
    font-family: var(--title-font, 'Oswald', sans-serif);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2rem;
    line-height: 1;
    white-space: nowrap;
    padding-right: 50px;
}

.header-text p{
    font-family: var(--title-font, 'Oswald', sans-serif);
    font-weight: 50;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1;
    white-space: nowrap;
    padding-right: 50px;
    text-align: right;
}

.header-logo{
    left: 2rem;
    display: flex;
    align-items: center;
}

.header-logo img{
    width: 100px;
    height: auto;
}

/* -- HERO -- */
.hero-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vh;
}

.carousel-track {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
    user-select: none;
}

.carousel-button.next {
    right: 2rem;
}

.carousel-button.prev {
    left: 2rem;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* -- BLURB -- */
.blurb {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blurb .info {
    flex: 1;
    min-width: 0;
    margin: 20px;
    box-sizing: border-box;
}

/* -- BUTTON BAR -- */
.button-bar {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 2rem auto;
    max-width: 1300px;
}

@media (max-width: 600px) {
    .button-bar {
        flex-direction: column;
        align-items: center;
    }
}

.button-bar button {
    flex: 1;
    margin: 5px;
    max-width: 350px;
    aspect-ratio: 2/1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    font-size: 1.25rem;
    background: #bdd6b0;
    cursor: pointer;

    transition: transform 0.5s ease;
}

.button-bar button:hover {
    transform: scale(1.05);
}

/* -- PORTFOLIO -- */
.portfolio {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.portfolio h1 {
    text-align: center;
}

.collapse-box {
    display: flex;
    flex-direction: column-reverse;

    overflow: hidden;
    max-height: 240px;
    transition: max-height 0.5s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.collapse-box .title {
    text-align: left;
    padding-left: 3rem;
}

.collapse-box .title::after {
    content: "▼";
    font-size: 0.8rem;
    margin-left: 8px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.collapse-box:hover .title::after {
    transform: rotate(180deg);
}

.collapse-box:hover {
    max-height: 600px;
}

.collapse-box .content {
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    padding: 10px 15px;
}

.collapse-box .content img {
  width: 40vw;
  height: 400px;
  object-fit: cover;
  object-position: center;
  flex: 0 0 auto;
}

.collapse-box .content .info {
    flex: 1;
    font-size: 1.5rem;
}

.collapse-box .content .info p {
    font-size: 1.5rem;
}

/* -- Filler --*/
.filler {
    height: 300px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

